:root {
    --bg-color: #000000;
    --bg-color-cv: #ffffff;
    --fg-color: #009b39;
    --fg-color-dark: #023b5b;
    --fg-color-body: #5e6369;
    --fg-color-title-sm: #688293;

}

[data-theme='dark'] {
    --bg-color: #3d484e;
    --bg-color-cv: #000000;
    --fg-color: #3282b8;
    --fg-color-dark: #3282b8;
    --fg-color-body: rgba(187,225,250,0.75);
    --fg-color-title-sm: #688293;
}
