:root {
  --bg-color: #ffffff;
  --bg-color-cv: #ffffff;
  --fg-color: #ff0000;
  --fg-color-dark: #000000;
  --fg-color-body: #000000;
  --fg-color-title-sm: #000000;
}

[data-theme='dark'] {
  --bg-color: #ffffff;
  --bg-color-cv: #000000;
  --fg-color: #ff0000;
  --fg-color-dark: #ffffff;
  --fg-color-body: #ffffff;
  --fg-color-title-sm: #ff0000;
}
