:root {
    --bg-color: #000000;
    --bg-color-cv: #ffffff;
    --fg-color: #009b39;
    --fg-color-dark: #009b39;
    --fg-color-body: #009b39;
    --fg-color-title-sm:#009b39;

}

[data-theme='dark'] {
    --bg-color: #ffffff;
    --bg-color-cv: #000000;
    --fg-color: #ffffff;
    --fg-color-dark: #ffffff;
    --fg-color-title-sm: #ffffff;
}
